@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    :root {
        --background: #F5F5F5;
        --background-text: rgba(0, 0, 0, 0.50);
        --background-foreground: #fff;
        --text-light: rgba(0, 0, 0, 0.30);
        --text-normal: rgba(0, 0, 0, 0.80);
        --text-dark: #000;
    }
    .dark {
        --background: #F5F5F5;
        --background-text: rgba(0, 0, 0, 0.50);
        --background-foreground: #fff;
        --text-light: rgba(0, 0, 0, 0.30);
        --text-normal: rgba(0, 0, 0, 0.80);
        --text-dark: #000;
    }
}

html, body {
    font-family: "Figtree", sans-serif;
    box-sizing: unset;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    font-feature-settings: 'ss01' on;
}

.screen-size {
    width: 100vw;
    height: 100vh;
}
.max-screen-size {
    max-width: 100vw;
    max-height: 100vh;
}
@supports (width: 100dvh) {
    .screen-size {
        width: 100dvw;
        height: 100dvh;
    }
    .max-screen-size {
        width: 100dvw;
        height: 100dvh;
    }
}

html {
    @apply bg-background;
    @apply transition-transform;
    @apply duration-100;
}
